<mat-card>
  <mat-card-title>
    Add a new word group
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [formControl]="createVsForm.get('name')" matInput placeholder="Enter title"/>
    </mat-form-field>
    <button (click)="create()" [disabled]="!createVsForm.valid" class="button_with_icon"
            mat-fab
            type="button">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let vs of vsList | async">
  <mat-card-title>{{ vs.name }}</mat-card-title>
  <mat-card-actions>
    <button type="button" mat-icon-button matTooltip="View" [routerLink]="[vs.id]">
      <mat-icon class="material-icons">open_in_browser</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

