<ng-container *ngIf="vsView | async as vsView">
  <mat-card>
    <mat-card-title>
      <button (click)="clickBack()" mat-icon-button type="button">
        <mat-icon class="material-icons">arrow_back</mat-icon>
      </button>
      {{ vsView.vs.name }}
    </mat-card-title>
  </mat-card>
  <add-vocabulary-entry [vsId]="vsId"></add-vocabulary-entry>
  <mat-card *ngFor="let repetition of vsView.repetition">
    <mat-card-title>{{ repetition.id  }} {{ repetition.created }}</mat-card-title>
  </mat-card>
</ng-container>

