text {{ veForm.buildVocabularyEntry() | json }}
<mat-card [formGroup]="veForm.getForm()">
    <mat-card-header>
        <mat-card-title>Add new words/expressions to the list</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
        <mat-form-field>
            <input formControlName="term" matInput placeholder="Enter term" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <input [matAutocomplete]="auto" formControlName="language" matInput placeholder="Select language"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn()">
                <mat-option *ngFor="let language of languages | async" [value]="language.code">
                    {{ language | languageOption }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <tag-selector (tagSelectorChange)="onTagSelected($event)"
                      [resetNotification]="veForm.getResetSubject()"
                      [tagsAvailable]="tagsAvailable"></tag-selector>
        <add-usage (parseUsage)="usageDb.addUsage($event)"
                   [resetNotification]="veForm.getResetSubject()"></add-usage>
        <usage-tree></usage-tree>
        <!--<dl *ngFor="let translation of veForm.getUsages() | async; let i = index; let first = first;">-->
        <!--<dt>-->
        <!--{{ translation.value }}-->
        <!--<button (click)="veForm.removeUsage(i)" class="button_with_icon" mat-icon-button-->
        <!--type="button">-->
        <!--<mat-icon class="material-icons">remove_circle_outline</mat-icon>-->
        <!--</button>-->
        <!--<button (click)="veForm.mergeUsageToExamples(i)" *ngIf="!first" class="button_with_icon" mat-icon-button-->
        <!--type="button">-->
        <!--<mat-icon class="material-icons">link</mat-icon>-->
        <!--</button>-->
        <!--</dt>-->
        <!--<dd>-->
        <!--<div *ngFor="let example of translation.getExamples(); let ti = index;" fxLayout="row"-->
        <!--fxLayoutAlign="start center">-->
        <!--<div>-->
        <!--<span class="translation-example">{{ example.value }}</span>-->
        <!--<button (click)="translation.removeExample(ti)" class="button_with_icon" mat-icon-button-->
        <!--matTooltip="Remove"-->
        <!--type="button">-->
        <!--<mat-icon class="material-icons">remove_circle_outline</mat-icon>-->
        <!--</button>-->
        <!--<button (click)="example.addHiddenWord(selectedText)" *ngIf="example.canBeHiddenWord(selectedText)"-->
        <!--class="button_with_icon"-->
        <!--mat-icon-button-->
        <!--matTooltip="Add hidden word" type="button">-->
        <!--<mat-icon class="material-icons-outlined">speaker_notes</mat-icon>-->
        <!--</button>-->
        <!--</div>-->
        <!--<mat-chip-list>-->
        <!--<mat-chip (removed)="example.removeHiddenWord(word)"-->
        <!--*ngFor="let word of example.hiddenWords"-->
        <!--[removable]="true">-->
        <!--{{word}}-->
        <!--<mat-icon matChipRemove>cancel</mat-icon>-->
        <!--</mat-chip>-->
        <!--</mat-chip-list>-->
        <!--</div>-->
        <!--</dd>-->
        <!--</dl>-->
        <button (click)="save()" [disabled]="!veForm.getForm().valid" color="primary" mat-raised-button>Save</button>
    </mat-card-content>
</mat-card>
